*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
target/*.jar
*.war
*.ear

# logs
*.log
*.log.*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# compiled classes
target/
target/**

# dev junk
/web/nbproject/
keystore
*.db
nb-configuration.xml
nbactions.xml
junk/**

# Shipped JS
web/public_html/js/**
!web/public_html/js/main.js

# setting files
config.properties
